body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p,
ul,
ol,
li {
  padding: 0px;
  margin: 0px;
}
.wraper {
  margin: 0 auto;
}
body {
  background-color: #f5f8f9;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
img {
  border: 0;
}
.body {
  clear: both;
}
/* 去掉标题默认样式 */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 400;
}
s,
i,
em {
  font-style: normal;
  text-decoration: none;
}
a {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,
ol {
  list-style: none;
}
.innercenter {
  width: 85%;
  margin: 0 auto;
}
input {
  background: none;
  outline: none;
  border: 0px;
}
