body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p,
ul,
ol,
li {
  padding: 0px;
  margin: 0px;
}
.wraper {
  margin: 0 auto;
}
body {
  background-color: #f5f8f9;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
img {
  border: 0;
}
.body {
  clear: both;
}
/* 去掉标题默认样式 */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 400;
}
s,
i,
em {
  font-style: normal;
  text-decoration: none;
}
a {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,
ol {
  list-style: none;
}
.innercenter {
  width: 85%;
  margin: 0 auto;
}
input {
  background: none;
  outline: none;
  border: 0px;
}
html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 750px) {
  html {
    font-size: 18.75px;
  }
}
@media only screen and (min-width: 750px) and (max-width: 960px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1140px) {
  html {
    font-size: 28.5px;
  }
}
@media screen and (min-width: 1140px) and (max-width: 1280px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1660px) {
  html {
    font-size: 41px;
  }
}
@media screen and (min-width: 1660px) and (max-width: 1920px) {
  html {
    font-size: 48px;
  }
}
.headercon {
  height: 100px;
  background-color: #3F51B5;
}
.headercon .header_main {
  height: 100%;
  width: 85%;
  margin: 0 auto;
}
.headercon .header_main h1 {
  line-height: 100px;
  float: left;
}
.headercon .header_main h1 a {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
}
.headercon .header_main ul {
  float: right;
}
.headercon .header_main li {
  margin-top: 20px;
  float: right;
  line-height: 60px;
  margin-left: 40px;
  position: relative;
}
.headercon .header_main li:hover ol {
  display: block;
}
.headercon .header_main li a {
  font-size: 17px;
  color: #fff;
  font-weight: 400;
}
.headercon .header_main li i {
  padding-left: 3px;
}
.headercon .header_main li ol {
  display: none;
  width: 200px;
  position: absolute;
  z-index: 999 !important;
  top: 50px;
  left: -74px;
  background-color: #FFFFFF;
  border: 1px solid #ECEFF0;
  -moz-box-shadow: 2px 3px 20px #999;
  -webkit-box-shadow: 2px 3px 20px #999;
  box-shadow: 2px 3px 20px #999;
}
.headercon .header_main li ol li {
  width: 100%;
  height: 52px !important;
  line-height: 52px !important;
  margin-left: 0;
  margin-top: 0;
}
.headercon .header_main li ol li:last-child {
  margin-bottom: 10px;
}
.headercon .header_main li ol li a {
  font-size: 15px;
  text-align: center;
  color: #848484 !important;
}
.headercon .header_main li ol li a:hover {
  color: #51ADED !important;
}
@media only screen and (max-width: 780px) {
  .headercon .header_main {
    width: 100%;
  }
  .headercon .header_main h1 {
    float: none;
    text-align: center;
  }
  .headercon .header_main ul {
    display: none;
  }
}
.footercon {
  height: 205px;
  background-color: #23282D;
  text-align: center;
  padding-top: 90px;
}
.footercon p {
  font-family: Din, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 1px;
  margin-top: 10px;
}
.footercon a {
  display: inline;
  color: rgba(255, 255, 255, 0.5);
}
.footercon a:hover {
  color: #51aded;
}
.wrapper .content {
  overflow: hidden;
}
.wrapper .content .main_left {
  overflow: hidden;
  padding-right: 28px;
}
.wrapper .content .main_left .category_title_con {
  height: 111px;
  margin-top: 32px;
  background-color: #fff;
  border: 1px solid #eceff0;
  -moz-box-shadow: 2px 2px 10px #eee;
  -webkit-box-shadow: 2px 2px 10px #eee;
  box-shadow: 2px 2px 10px #eee;
  position: relative;
}
.wrapper .content .main_left .category_title_con p {
  font-size: 18px;
  color: #1c1c1c;
}
.wrapper .content .main_left .category_title_con p:nth-child(1) {
  font-weight: bold;
  font-size: 19px;
}
.wrapper .content .main_left .category_title_con p:nth-child(2) {
  margin-top: 20px;
}
.wrapper .content .main_left .category_title_con .con {
  position: absolute;
  top: 50%;
  left: 22px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.wrapper .content .main_left .article_list .article_item {
  margin-top: 14px;
  background-color: #fff;
  border: 1px solid #eceff0;
  -moz-box-shadow: 2px 2px 10px #eee;
  -webkit-box-shadow: 2px 2px 10px #eee;
  box-shadow: 2px 2px 10px #eee;
}
.wrapper .content .main_left .article_list .article_item .item_top {
  height: 186px;
  border-bottom: 1px solid #F3F3F3;
  overflow: hidden;
}
.wrapper .content .main_left .article_list .article_item .item_top .item_img_con {
  float: left;
  width: 239px;
  height: 144px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 2px;
  border: 1px solid #F3F3F3;
}
.wrapper .content .main_left .article_list .article_item .item_top .item_info {
  overflow: hidden;
  margin: 20px 20px 5px;
  padding-left: 20px;
}
.wrapper .content .main_left .article_list .article_item .item_top .item_info .item_title h2 {
  font-size: 20px !important;
}
.wrapper .content .main_left .article_list .article_item .item_top .item_info .item_desc {
  margin-top: 18px;
  font-size: 16px;
  color: #848484;
}
.wrapper .content .main_left .article_list .article_item .item_bottom {
  height: 42px;
  padding-left: 20px;
}
.wrapper .content .main_left .article_list .article_item .item_bottom a {
  float: left;
  line-height: 42px;
  font-size: 14px;
  color: #333;
  height: 100%;
  margin-right: 18px;
}
.wrapper .content .main_left .article_list .article_item .item_bottom a:hover {
  color: #4FADED;
}
.wrapper .content .main_left .article_list .article_item .item_bottom .lool_detail {
  float: right;
}
.wrapper .content .main_right {
  width: 291px;
  float: right;
  padding-right: 4px;
}
.wrapper .content .main_right .right_search {
  margin-top: 32px;
  background-color: #fff;
  height: 96px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  border: 1px solid #eceff0;
  -moz-box-shadow: 2px 2px 10px #eee;
  -webkit-box-shadow: 2px 2px 10px #eee;
  box-shadow: 2px 2px 10px #eee;
}
.wrapper .content .main_right .right_search input {
  position: absolute;
  width: 230px;
  height: 34px;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 10px;
  font-size: 16px;
  color: #848484;
  border: 1px solid #cccccc;
}
.wrapper .content .main_right .right_search input::selection {
  background: #262a30;
  color: #fcfcfc;
}
.wrapper .content .main_right .right_search input:focus {
  border: #87C6F9 1px solid;
  box-shadow: 0 0 8px #67a6d9;
}
.wrapper .content .main_right .person_info {
  height: 536px;
  margin-top: 32px;
  background-color: #fff;
  border: 1px solid #eceff0;
  -moz-box-shadow: 2px 2px 10px #eee;
  -webkit-box-shadow: 2px 2px 10px #eee;
  box-shadow: 2px 2px 10px #eee;
  position: relative;
}
.wrapper .content .main_right .person_info .info {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper .content .main_right .person_info .info .icon_con {
  width: 230px;
  height: 161px;
  margin: 29px auto 0;
  position: relative;
}
.wrapper .content .main_right .person_info .info .icon_con .icon {
  height: 120px;
}
.wrapper .content .main_right .person_info .info .icon_con .circlelogo {
  position: absolute;
  width: 87px;
  height: 87px;
  left: 50%;
  bottom: 0;
  margin-left: -43px;
  background-color: #FDFDDD;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.wrapper .content .main_right .person_info .info .icon_con .circlelogo label {
  display: block;
  height: 87px;
  line-height: 87px;
  color: #54ADF2;
  font-size: 20px;
}
.wrapper .content .main_right .person_info .info .link_icon {
  text-align: center;
}
.wrapper .content .main_right .person_info .info .link_icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
}
.wrapper .content .main_right .person_info .info .link_icon a i {
  position: absolute;
  font-size: 26px;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wrapper .content .main_right .person_info .info .article_title {
  font-size: 16px;
  color: #848484;
  text-align: center;
}
.wrapper .content .main_right .person_info .info .article {
  margin-top: 10px;
}
.wrapper .content .main_right .person_info .info .article li {
  margin-top: 14px;
  margin-left: 76px;
}
.wrapper .content .main_right .person_info .info .article p {
  text-align: left !important;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.wrapper .content .main_right .con_category {
  margin-top: 32px;
  background-color: #fff;
  border: 1px solid #eceff0;
  -moz-box-shadow: 2px 2px 10px #eee;
  -webkit-box-shadow: 2px 2px 10px #eee;
  box-shadow: 2px 2px 10px #eee;
  position: relative;
  height: 652px;
}
.wrapper .content .main_right .con_category .category {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 16px;
  font-weight: 300;
  color: #333;
}
.wrapper .content .main_right .con_category .category .category_tilte {
  width: 235px;
  height: 47px;
  margin: 14px auto 0;
  border-bottom: 1px solid #E7E7E7;
}
.wrapper .content .main_right .con_category .category .category_tilte h3 {
  display: inline-block;
  line-height: 47px;
  font-size: 16px;
  color: #333;
  border-bottom: 2px solid #51ADED;
}
.wrapper .content .main_right .con_category .category ul {
  margin-top: 20px;
}
.wrapper .content .main_right .con_category .category li {
  height: 41px;
  position: relative;
  width: 235px;
  margin: 0 auto;
}
.wrapper .content .main_right .con_category .category li a {
  display: inline-block;
  color: #333;
  margin-left: 8px;
}
.wrapper .content .main_right .con_category .category li a:hover {
  color: #51ADED;
}
.wrapper .content .main_right .con_recommand {
  margin-top: 32px;
  background-color: #fff;
  border: 1px solid #eceff0;
  -moz-box-shadow: 2px 2px 10px #eee;
  -webkit-box-shadow: 2px 2px 10px #eee;
  box-shadow: 2px 2px 10px #eee;
}
.wrapper .content .main_right .con_recommand .rec_tab {
  width: 230px;
  margin: 14px auto 0;
  overflow: hidden;
  border-bottom: 1px solid #E7E7E7;
}
.wrapper .content .main_right .con_recommand .rec_tab ul {
  overflow: hidden;
  height: 100%;
}
.wrapper .content .main_right .con_recommand .rec_tab li {
  width: 33.33333%;
  float: left;
  text-align: center;
  font-size: 16px;
  color: #333;
  line-height: 72px;
  cursor: pointer;
  box-sizing: border-box;
}
.wrapper .content .main_right .con_recommand .rec_tab li.check {
  border-bottom: 2px solid #51ADED;
}
.wrapper .content .main_right .con_recommand .rec_tab li a {
  cursor: pointer;
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
  color: #333;
}
.wrapper .content .main_right .con_recommand .rec_tab li a label {
  cursor: pointer;
}
.wrapper .content .main_right .con_recommand .rec_con {
  width: 230px;
  margin: 14px auto ;
}
.wrapper .content .main_right .con_recommand .rec_con li {
  font-size: 15px;
  height: 26px;
}
.wrapper .content .main_right .con_recommand .rec_con li a {
  line-height: 26px;
  color: #999;
}
.wrapper .content .main_right .con_recommand .rec_con li a:hover {
  color: #333333;
}
.wrapper .content .main_right .near_commit {
  margin-top: 32px;
  background-color: #fff;
  border: 1px solid #eceff0;
  -moz-box-shadow: 2px 2px 10px #eee;
  -webkit-box-shadow: 2px 2px 10px #eee;
  box-shadow: 2px 2px 10px #eee;
}
.wrapper .content .main_right .near_commit .commit_con .commit_tilte {
  width: 235px;
  height: 47px;
  margin: 14px auto 0;
  box-sizing: border-box;
  border-bottom: 1px solid #E7E7E7;
}
.wrapper .content .main_right .near_commit .commit_con .commit_tilte h3 {
  float: left;
  display: inline-block;
  line-height: 47px;
  font-size: 16px;
  color: #333;
  border-bottom: 2px solid #51ADED;
}
.wrapper .content .main_right .near_commit .commit_con .commit_list {
  width: 230px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.wrapper .content .main_right .near_commit .commit_con .commit_list li {
  margin: 14px 0;
}
.wrapper .content .main_right .near_commit .commit_con .commit_list a {
  font-size: 16px;
  letter-spacing: 1px;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.wrapper .content .main_right .tagcollections {
  margin-top: 32px;
  background-color: #fff;
  border: 1px solid #eceff0;
  -moz-box-shadow: 2px 2px 10px #eee;
  -webkit-box-shadow: 2px 2px 10px #eee;
  box-shadow: 2px 2px 10px #eee;
}
.wrapper .content .main_right .tagcollections .title {
  width: 235px;
  height: 47px;
  margin: 14px auto 0;
  box-sizing: border-box;
  border-bottom: 1px solid #E7E7E7;
}
.wrapper .content .main_right .tagcollections .title h3 {
  float: left;
  display: inline-block;
  line-height: 47px;
  font-size: 16px;
  color: #333;
  border-bottom: 2px solid #51ADED;
}
.wrapper .content .main_right .tagcollections .tag_container {
  width: 235px;
  margin: 14px auto ;
}
.wrapper .content .main_right .tagcollections .tag_container ul {
  overflow: hidden;
}
.wrapper .content .main_right .tagcollections .tag_container li {
  float: left;
  height: 25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #2196F3;
  margin-right: 8px;
  margin-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}
.wrapper .content .main_right .tagcollections .tag_container li:nth-child(2n) {
  background: #8BC34A;
}
.wrapper .content .main_right .tagcollections .tag_container li:nth-child(3n) {
  background: #F44336;
}
.wrapper .content .main_right .tagcollections .tag_container li:hover {
  -moz-box-shadow: 2px 3px 20px #999;
  -webkit-box-shadow: 2px 3px 20px #999;
  box-shadow: 2px 3px 20px #999;
}
.wrapper .content .main_right .tagcollections .tag_container li a {
  float: left;
  line-height: 25px;
  display: inline-block;
  font-size: 12px !important;
  color: #fff !important;
}
.wrapper .footer {
  margin-top: 30px;
}
.wrapper .fix_menu_info {
  position: fixed;
  right: 0px;
  bottom: 120px;
  width: 116px;
}
.wrapper .fix_menu_info .message_info {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #9B9C9C;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 0.2s;
}
.wrapper .fix_menu_info .message_info:hover {
  background-color: #ED2A2F;
  -moz-box-shadow: 2px 3px 20px #999;
  -webkit-box-shadow: 2px 3px 20px #999;
  box-shadow: 2px 3px 20px #999;
}
.wrapper .fix_menu_info .wx_info {
  width: 62px;
  height: 62px;
  margin-top: 14px;
  border-radius: 50%;
  background-color: #7ACA7E;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 0.2s;
}
.wrapper .fix_menu_info .wx_info:hover {
  background-color: #44B549;
  -moz-box-shadow: 2px 3px 20px #999;
  -webkit-box-shadow: 2px 3px 20px #999;
  box-shadow: 2px 3px 20px #999;
}
.wrapper .back_arrow {
  position: fixed;
  right: 0px;
  bottom: 41px;
  margin-right: 54px;
  display: none;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #FF4081;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 0.2s;
}
.wrapper .back_arrow:hover {
  background-color: #FF4081;
  -moz-box-shadow: 2px 3px 20px #999;
  -webkit-box-shadow: 2px 3px 20px #999;
  box-shadow: 2px 3px 20px #999;
}
@media only screen and (max-width: 960px) {
  .main_right {
    display: none !important;
  }
}
@media only screen and (max-width: 780px) {
  .innercenter {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .article_list .article_item .item_top {
    margin-right: 20px;
    height: auto !important;
  }
  .article_list .article_item .item_top .item_img_con {
    float: none !important;
    width: 100% !important;
    height: auto !important;
  }
  .article_list .article_item .item_top .item_info {
    margin: 10px 0px 5px !important;
    padding-left: 20px !important;
  }
  .article_list .article_item .item_top .item_info .item_desc {
    margin-bottom: 10px !important;
  }
  .article_list .article_item .item_bottom .item_pull1 {
    display: none !important;
  }
  .fix_menu_info {
    display: none !important;
  }
}
