body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p,
ul,
ol,
li {
  padding: 0px;
  margin: 0px;
}
.wraper {
  margin: 0 auto;
}
body {
  background-color: #f5f5f5;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
img {
  border: 0;
}
.body {
  clear: both;
}
a {
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,
ol {
  list-style: none;
}
