<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    	<div class="headercon">
            <div class="header_main">
                <h1><a href="javascript:void(0)">花花工作室</a></h1>
                <ul>
                    <li class="header_title"><a href="javascript:void(0)">关于<i class="icon-chevron-down"></i></a>
                        <ol class="subtitle">
                            <li><a href="">GIT</a></li>
                            <li><a href="">链接</a></li>
                            <li><a href="">归档</a></li>
                            <li><a href="">Works</a></li>
                            <li><a href="">支持作者</a></li>
                        </ol>
                    </li>
                    <li><a href="javascript:void(0)">留言板</a></li>
                    <li><a href="javascript:void(0)">前端开发</a></li>
                    <li class="rl"><a href="javascript:void(0)">安卓开发</a></li>
                    <li><a href="javascript:void(0)">首页<i class="icon-chevron-down"></i></a>
                        <ol class="subtitle">
                            <li><a href="">学习中心</a></li>
                            <li><a href="">原创随笔</a></li>
                            <li><a href="">精品文摘</a></li>
                            <li><a href="">热点关注</a></li>
                            <li><a href="">资源共享</a></li>
                            <li><a href="">影视娱乐</a></li>
                            <li><a href="">文档备案</a></li>
                        </ol>
                    </li>
                </ul>
            </div>
    	</div>
    </body>
</html>