.headercon {
	height: 100px;
	background-color: #3F51B5;
	.header_main {
		h1 {
			line-height: 100px;
			float: left;
			a {
				color: #fff;
				font-size: 28px;
				font-weight: 300;
			}
		}

		ul {
			float: right;
		}
		li {
			margin-top: 20px;
			float: right;
			line-height: 60px;
			margin-left: 40px;
			a {
				font-size: 17px;
				color: #fff;
				font-weight: 400;
			}
			i {
				padding-left: 3px;
			}
		}

	}
}